aside.emoji-picker-react {
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  height: 404px;
  width: 560px;
  font-family: sans-serif;
  border: 1px solid #545454;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 5px 10px #efefef;
  overflow: hidden;
  position: relative;
  padding: 16px 16px 0 16px;
}

aside.emoji-picker-react .content-wrapper-epr {
  flex: 1;
  overflow-y: hidden;
  position: relative;
}

.dualview {
  display: flex;
  flex-direction: row;
}

.outer-scroll-wrapper {
  height: 312px;
  width: 256px;
  margin-right: 5px;
  padding-right: 16px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.emoji-footer {
  display: flex;
  justify-content: flex-end;
  height: 32px;
  align-items: center;
}

.footer-label {
  opacity: 1;
  transition: transform 0.3s ease;
}

.footer-label-hidden {
  opacity: 0;
  transition: transform 0.3s ease;
}

.skintone-wrapper {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-right: 8px;
}

.emoji-picker-react .emoji-scroll-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

aside.emoji-picker-react .content-wrapper-epr:before {
  content: attr(data-name);
  color: #aaa;
  font-size: 11px;
  display: block;
  position: absolute;
  right: 8%;
  z-index: 10;
  line-height: 45px;
  max-height: 45px;
  overflow: hidden;
  max-width: 100px;
  text-overflow: ellipsis;
  text-align: right;
}

aside.emoji-picker-react button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

/* scroll bars */
/* total width */
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  box-sizing: border-box;
}

/* background of the scrollbar except button or resizer */
.scroll::-webkit-scrollbar-track {
}

/* scrollbar itself */
.scroll::-webkit-scrollbar-thumb {
  background-color: #404040;
  /*border: 3px solid vars.$ditto1A;*/
  border-radius: 10px;
}

/* set button(top and bottom of the scrollbar) */
.scroll::-webkit-scrollbar-button {
  display: none;
}

div::-webkit-scrollbar-corner {
  background-color: transparent;
}
